@{ 
    ViewBag.PageTitle = "Page Not Found";
}
<h1>

    @ViewBag.ErrorMessage
</h1>

@*<h1>

    @ViewBag.path
</h1>

<h1>

    @ViewBag.QS
</h1>*@
<a asp-action="Index" asp-controller="Home" >
    Click here to Navigate Home Page
</a>